.main-seeMore {
  width: 11.2rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--button-bg);
  transition: 0.2s all linear;
}

.main-seeMore .arrow {
  width: 2.4rem;
  height: 2.4rem;
}

.main-seeMore:hover {
  transform: scale(1.1);
}
