.main-section {
  position: relative;
  padding: 6.4rem 13.5rem;
  width: 100vw;
}

.main-section.-home {
  background-color: var(--purple-bg);
  height: 58.8rem;
  border-bottom: 0.6rem solid var(--green);
}

.main-section.-home .main-wrapper {
  margin-top: 6.4rem;
}

.main-section.-home .text {
  width: 57rem;
}

.main-section.-home .main-paragraph {
  margin-top: 1.6rem;
}

.main-section.-home .main-seeMore {
  margin-top: 2.4rem;
}

.main-section.-home .featuredImage {
  width: 57rem;
  height: 34.6rem;
  object-fit: cover;
}

.main-section.-content .main-wrapper:nth-child(1) {
  align-items: flex-start;
  margin-bottom: 6.4rem;
}
