.main-article {
  display: inline-block;
  width: 57rem;
}

.main-article.-image {
  background: url(../../assets/images/featured-image.png) no-repeat center/cover;
  height: 34.6rem;
}

.main-article .main-paragraph {
  margin-top: 1.6rem;
}

.main-article .main-seeMore {
  margin-top: 2.4rem;
}
