.main-post {
  filter: drop-shadow(0rem 0.1rem 0.2rem rgba(0, 0, 0, 0.25));
}

.main-post .post {
  border-radius: 0.8rem;
  width: 100%;
  object-fit: cover;
  height: 34.3rem;
}

.main-post .main-postTitle {
  margin: 1.6rem 0rem;
}

.main-post .main-title {
  margin-bottom: 1.6rem;
}
