.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header .logo {
  width: 16.2rem;
  height: 3.7rem;
  object-fit: cover;
}

.main-header .list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
